* {
     margin: 0;
     padding: 0;
}

.App-container {
     border: 2px solid blue;
}

.nav-container {
     background-color: rgb(240, 182, 182);
     padding: 10px 20px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     min-width: 250px;
}
.nav-container {
     .left {
          display: flex;
          align-items: center;
          gap: 20px;
     }
}
.nav-container {
     .left {
          .menu-bars {
               cursor: pointer;
               @media screen and (min-width: 500px) {
                    display: none;
               }
          }
     }
}
.nav-container {
     .left {
          .desktop-menu-list {
               display: none;
               //  justify-self: flex-start;
               //  margin-right: auto;
               //  margin-left: 0;
               list-style: none;
               gap: 10px;
               @media screen and (min-width: 500px) {
                    //  display: block;
                    display: flex;
                    justify-content: start;
               }
          }
     }
}
.nav-container {
     .left {
          .mobile-menu-list {
               position: fixed;
               background-color: rgb(241, 234, 241);
               list-style: none;
               padding: 20px;
               width: 200px;
               height: 100vh;
               top: 10px;
               left: 10px;
               z-index: 99;
               display: flex;
               gap: 5px;
               flex-direction: column;

               & + .model-overlay {
                    position: fixed;
                    content: "";
                    width: 100vw;
                    height: 100vh;
                    background-color: rgba(0, 0, 0, 0.781);
                    top: 0;
                    left: 0;
                    z-index: 9;
               }
               .close {
                    margin-bottom: 30px;
                    // border: 2px solid red;
                    cursor: pointer;
                    z-index: 9999;
                    // transition: all 1s ease;
                    &:hover {
                         img {
                              transform: scale(1.5);
                              transition: all 0.4s ease;
                         }
                         //  box-shadow: 0 0 1px 1px black;
                         //  transform: translateX(2000px);
                         //  z-index: 9999;
                    }
               }

               li {
                    font-size: 1rem;
                    font-weight: 700;
                    // border: 2px solid red;
                    padding: 5px;
                    cursor: pointer;
                    transition: all 0.4s ease;
                    &:hover {
                         //  transform: scale(1.2);
                         background-color: rgba(248, 246, 248, 0.438);
                         z-index: 9999;
                         //  border-bottom: 2px solid grey;
                         transition: all 0.4s ease;
                         transform: translateX(10px);
                    }
               }

               @media screen and (min-width: 500px) {
               }
          }
     }
}

.nav-container {
     .right {
          display: flex;
          align-items: center;
          gap: 20px;
     }
}
.nav-container {
     .right {
          .cart-icon-wrap {
               width: 20px;
               img {
                    width: 100%;
               }
          }
     }
}
.nav-container {
     .cart-icon-wrap {
          // position: relative;
          // icon
          .cart-container {
               position: absolute;
               border: 2px solid red;
               top: 60px;
               right: 10px;
               //  right: 0;

               width: 90vw;
               min-width: 250px;
               margin: 0 auto;
               padding: 10px;
               @media screen and (min-width: 600px) {
                    width: 500px;
                    margin: unset;
               }
          }
     }
}
.nav-container {
     .right {
          img {
               width: 30px;
          }
     }
}
